<div class="row expense_categories">
  <div class="col-md-8 col-md-offset-2">
    <div class="expense_categories-title"><%= t "expense_categories.title" %></div>

    <div><%= link_to t("expense_categories.add_new"),new_expense_category_path,
    remote: true, class: "btn btn-warning pull-right add-new fa fa-plus-circle" %>
    </div></br></br>
    <table class="table table table-bordered table-striped">
      <thead>
      <tr class="success">
        <td><%= t "expense_categories.table.name" %></td>
        <td><%= t "expense_categories.table.description" %></td>
        <td colspan="2"><%= t "expense_categories.table.action" %></td>
      </tr>
      </thead>

      <tbody class="expense-index">
        <%= render @expense_categories %>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

