<div class="save-transactions form">
  <div class="title"><%= t "save_transactions.title" %></div>
  <div class="btn-add">
    <%= render "btn_add" %>
  </div>
  <table class="table">
    <thead>
      <tr class="alert alert-info">
        <td><%= t "save_transactions.name" %></td>
        <td><%= t "save_transactions.amount" %></td>
        <td><%= t "save_transactions.description" %></td>
        <td><%= t "save_transactions.date" %></td>
        <td colspan="2"></td>
      </tr>
    </thead>
    <tbody class="save-transaction-list">
      <%= render @save_transactions %>
    </tbody>
  </table>
  <div class="paginate">
    <%= paginate @save_transactions, theme: "twitter-bootstrap-3" %>
  </div>

  <div class="statistic box">
    <%= render "statistic" %>
  </div>
</div>

<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
