<div class="row">
  <div class="col-md-12">
    <h3><%= @type.capitalize %> : <%= payment_method_name @payment_method_id %></h3>
    <h4><%= @interval.capitalize %>: <%= interval_name @interval %></h4>
    <hr>
    <div class="detail-summary">
      <table class="table">
        <thead>
          <tr>
            <td><b><%= t "search.header.category" %></b></td>
            <td><b><%= t "search.header.description" %></b></td>
            <td><b><%= t "search.header.amount" %></b></td>
            <td><b><%= t "search.header.payment_method" if Settings.payment_methods.all == @payment_method_id %></b></td>
          </tr>
        </thead>
        <% @transaction_detail.each do |event, transactions| %>
          <thead>
            <tr>
              <td colspan="4" class="alert alert-info"><%= event %></td>
            </tr>
          </thead>
          <tbody>
            <% transactions.each do |transaction| %>
              <tr>
                <td><%= transaction.send("#{@type}_category").name %></td>
                <td><%= transaction.description %></td>
                <td><%= number_to_currency transaction.amount, precision: 1 %></td>
                <td><%= transaction.payment_method.name if Settings.payment_methods.all == @payment_method_id %></td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
      <p class="box-search"><%= "#{t "summary.labels.total"} #{number_to_currency @total, precision: 1}" %></p>
    </div>
  </div>
</div>
