<div class="row">
  <div class="col-md-12">
    <h2><%= t "search.labels.search_transaction" %></h2>
    <hr>
    <div class="search-form">
      <%= render "shared/search_form" %>
      <hr>
      <div class="box-search">
        <p><%= "#{t "summary.labels.total_income"}" "#{number_to_currency @total_income, precision: 1}" if @total_income %></p>
        <p><%= "#{t "summary.labels.total_expense"}" "#{number_to_currency @total_expense, precision: 1}" if @total_expense %></p>
      </div>
      <%= render "shared/search_result" %>
      <hr>
    </div>
  </div>
</div>
