<div class="summary">
<h3><%= interval.capitalize %></h3>
  <p><%= interval_name interval %></p>
  <table class="table">
    <tbody>
      <tr>
        <td><%= "#{t 'summary.labels.total_income'}" %></td>
        <td><%= number_to_currency eval("@#{interval}_income"), precision: 1 %></td>
        <td><%= link_to t("summary.labels.detail"), details_path(Settings.types.income,
          interval, @payment_method_id) %></td>
      </tr>
      <tr>
        <td><%= "#{t 'summary.labels.total_expense'}" %></td>
        <td><%= number_to_currency eval("@#{interval}_expense"), precision: 1 %></td>
        <td><%= link_to t("summary.labels.detail"), details_path(Settings.types.expense,
          interval, @payment_method_id) %></td>
      </tr>
    </tbody>
  </table>
</div>
