<div class="row income_categories form">
  <div class="col-md-12">
    <div class="title"><%= t "income_categories.title" %></div>

    <div><%= link_to t("income_categories.add_new"),new_income_category_path,
    remote: true, class: "btn btn-warning pull-right add-new fa fa-plus-circle" %>
    </div>
    <table class="table">
      <thead>
      <tr class="alert alert-info">
        <td><%= t "income_categories.table.name" %></td>
        <td><%= t "income_categories.table.description" %></td>
        <td colspan="2"></td>
      </tr>
      </thead>

      <tbody class="income-index">
        <%= render @income_categories %>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

