<div class="row user_expenses form">
  <div class="col-md-12">
    <div class="title"><%= t "user_expenses.title" %></div>

    <div><%= link_to t("user_expenses.add_new"),new_user_expense_path,
    remote: true, class: "btn btn-warning pull-right add-new fa fa-plus-circle" %>
    </div>
    <table class="table">
      <thead>
      <tr class="alert alert-info">
        <td><%= t "user_expenses.table.date" %></td>
        <td><%= t "user_expenses.table.amount" %></td>
        <td><%= t "user_expenses.table.description" %></td>
        <td><%= t "user_expenses.table.category" %></td>
        <td><%= t "user_expenses.table.payment_method" %></td>
        <td colspan="2"></td>
      </tr>
      </thead>

      <tbody class="user-expense-index">
        <%= render @user_expenses %>
      </tbody>
    </table>
    <div class="paginate" align="center">
      <%= paginate @user_expenses, theme: "twitter-bootstrap-3" %>
    </div>

  </div>
</div>

<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

