<div class="row user_expenses">
  <div class="col-md-8 col-md-offset-2">
    <div class="user_expenses-title"><%= t "user_expenses.title" %></div>

    <div><%= link_to t("user_expenses.add_new"),new_user_expense_path,
    remote: true, class: "btn btn-warning pull-right add-new fa fa-plus-circle" %>
    </div></br></br>
    <table class="table table table-bordered table-striped">
      <thead>
      <tr class="success">
        <td><%= t "user_expenses.table.date" %></td>
        <td><%= t "user_expenses.table.amount" %></td>
        <td><%= t "user_expenses.table.description" %></td>
        <td><%= t "user_expenses.table.category" %></td>
        <td><%= t "user_expenses.table.payment_method" %></td>
        <td colspan="2"><%= t "user_expenses.table.action" %></td>
      </tr>
      </thead>

      <tbody class="user-expense-index">
        <%= render @user_expenses %>
      </tbody>
    </table>
    <div class="paginate" align="center">
      <%= paginate @user_expenses, theme: "twitter-bootstrap-3" %>
    </div>

  </div>
</div>

<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

